.app-2rEoOp {
  background-image: url(https://images5.alphacoders.com/423/thumb-1920-423747.jpg);
  background-size: cover;
  border: 1px;
}

.standardSidebarView-3F1I7i {
  background-image: url(https://images5.alphacoders.com/423/thumb-1920-423747.jpg);
  background-size: cover;
}

.group-spacing-16 .groupStart-23k01U {
  background-color: transparent;
}
